body {
    background-image: url("../img/poke.png");
    background-repeat: no-repeat;
}

.login, .estatistica, .quiz-container, .info-projeto, .cadastrar, .comecar {
    padding: 20px;
    border: 1px solid #c2c2c2;
    background-color: white;
    text-align: center;
}

.login, .cadastrar {
    height: 270px;
}
.comecar {
    width: 780px;
}

.quiz-container {
    margin-top: 100px;
}

#bt_enviar {
    float: right;
}

.titulo-quiz {
    display: inline;
}
#link_abandonar {
    margin-top: -40px;
    float: right;
    cursor: pointer;
}
.botoes {
    width: 100%;
    display: inline-block;
    float: left;
}
.botoes-navagacao {
    margin-top: 25px;
}

.cadastrar{
    margin-left:0px;
}

.mensagem{
    padding: 20px;
    background-color: white;
    text-align: center;
}

h1, h2{
    color: navy;
}
.ch-item{
    padding:5px;
}